
<% provide(:title, "Edit List") %>

<main class="item-input">

  <%= render 'shared/error_list' %>

  <%= form_with model: @list ,method: :patch, local: true do |form| %>
    <dl class="item-input__item-info">
      <div class="item-content">
        <dt class="item-content__definition-term">
          <%= form.label :リストネーム, class:"item-content__definition-term--name" %>
        </dt>
        <dd class="item-content__name-definition">
          <%= form.text_field :list_name, autofocus: true, placeholder: "リストネームを入力してください", class:"item-content__name-definition--form" %>
        </dd>
      </div>
      <div class="item-content">
        <dt class="item-content__definition-term">
          <%= form.label :リストコメント, class:"item-content__definition-term--comment" %>
        </dt>
        <dd class="item-content__comment-description">
          <%= form.text_area :list_comment, placeholder: "リストコメントを入力してください", class:"item-content__comment-description--form" %>
        </dd>
      </div>
      <div class="item-content">
        <div class="item-content__item-submit">
          <%= form.submit "変更を保存", class:"item-content__item-submit--btn" %>
        </div>
        <div class="item-content__item-submit">
          <%= link_to "削除", destroy_lists_path(current_user), class:"item-content__item-submit--destroy",
        method: :delete, data: { confirm: '削除しますか？' } %>
        </div>
      </div>
    </dl>
  <% end %>

</section>

</main>