<main class="item-input">
  <%= form_with( model: @Favoritelist ,local: true) do |f| %>
    <div class="item-info">
      <div class="item-info__item-name">
        <%= f.text_field :list_name, autofocus: true, placeholder: "リストネーム", class:"item-info__item-name--form" %>
      </div>   
      <div class="item-info__item-comment">
        <%= f.text_field :list_comment, placeholder: "リストコメント", class:"item-info__item-comment--form" %>
      </div>
      <div class="item-info__item-submit">
        <%= f.submit "リストを追加", class:"item-info__item-submit--btn" %>
      </div>
    </div>
  <% end %>

  <div class="googlemaps">
    <div id='map', style="width: 70vw; height: 400px;"></div>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPS_API_KEY"]%>&callback=initMap" async defer></script>
  <%= javascript_pack_tag 'googlemaps/application' %>
  </div>

<p>店の情報とか</p>

</main>