<% provide(:title, "Add List") %>

<main class="item-input">

  <%= render 'shared/back' %>

  <%= form_with model: @list ,local: true do |f| %>
    <%= render 'shared/error_list' %>

    <div class="item-info">
      <div class="item-info__item-name">
        <%= f.text_field :list_name, autofocus: true, placeholder: "リストネーム", class:"item-info__item-name--form" %>
      </div>   
      <div class="item-info__item-comment">
        <%= f.text_field :list_comment, placeholder: "リストコメント", class:"item-info__item-comment--form" %>
      </div>
      <div class="item-info__item-submit">
        <%= f.submit "リストを追加", class:"item-info__item-submit--btn" %>
      </div>
    </div>
  <% end %>

  <div class="googlemaps">
    <%= render 'shared/googlemaps' %>
  </div>

<p>店の情報とか</p>

</main>