<main class="item-show">
  <div class="item-data">
    <div class="item-data__item-name">
      <span class="item-data__item_name--form">
      <%= @list.list_name %>
      </span>
    </div>

    <div class="item-data__item-comment">
      <span class="item-data__item-comment--form" >
        <%= @list.list_comment %>
      </span>
    </div>
  </div>

  <p class="googlemaps">googlemaps</p>

  <sction class="item-display">
    <div class="item-array">
      <div class="item-array__item-detail">
        <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), new_shop_path(id: @list.id) %>
        <%= link_to "店を追加", new_shop_path(id: @list.id), class:"item-array__item-detail--name" %>
      </div>
      <% @shops.each do |s| %>
        <div class="item-array__item-detail">
          <%= link_to image_tag("kaisen.jpeg", class:"item-array__item-detail--img"), shop_path(s.id) %>
          <%= link_to s.shop_name, shop_path(s.id) , class:"item-array__item-detail--name" %>
        </div>
      <% end %>
    </div>
  </section>
</main>