<% provide(:title, "List") %>

<main class="item-show">
  <div class="item-data">

    <%= render partial: 'shared/flash' %>

    <div class="list-show">
      <div class="item-data__item-name">
        <span class="item-data__item-name--form">
        <%= @list.list_name %>
        </span>
      </div>

      <% if user_signed_in? && current_user.id == @list.user_id %>
      <div class="list-show__list-edit">
        <%= link_to edit_list_path(id: @list.id), class:"item-data__item-edit--form" do %>
          <i class="fas fa-ellipsis-h"></i>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="item-data__item-comment">
      <span class="item-data__item-comment--form" >
        <%= @list.list_comment %>
      </span>
    </div>

    <div class="item-data__item-user">
      <% if @list.user.image? %>
        <%= link_to image_tag( @list.user.image.thumb.url, class:"item-data__item-user--image"), user_path(@list.user) %>
      <% else %>
        <%= image_tag 'no-image.png',class:"item-data__item-user--image" %>
      <% end %>
      <%= link_to "#{@list.user.user_name} さん", user_path(@list.user), class:"item-data__item-user--link" %>
    </div>

  <div>
    <%= render 'shared/googlemaps' %>
  </div>

  <sction class="item-display">
  <div class="item-array">
    <% @list.shops.each do |shops| %>
      <div class="item-array__item-detail">
        <% if shops.photos[0].present? %>
          <%= link_to image_tag(shops.photos[0], class:"item-array__item-detail--img"), shop_path(shops.id),data: {"turbolinks"=>false}%>
        <% else %>
          <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), shop_path(shops.id),data: {"turbolinks"=>false} %>
        <% end %>
          <%= link_to shops.shop_name, shop_path(shops.id) , class:"item-array__item-detail--name", id:"shop_name_js",data: {"turbolinks"=>false}%>
          <span id="mapAddress" style="display:none"><%= shops.shop_address %></span>
      </div>
    <% end %>
  </div>


</main>