<% provide(:title, "Edit Shops") %>

<main class="item-input">

  <%= form_with model: @list_shops, url: shop_update_list_shops_path(shop_id: @shop.id), method: :patch, local: true do |form| %>

    <div class="item-input__item-info">
      <div class="item-data__item-name">
        <span id="shop_name_js"><%= @shop.shop_name %></span>
      </div>

      <section class="show-info" >
        <div class="show-info__item-address">
          <span id='mapAddress'><%= @shop.shop_address %></span>
        </div>

        <div class="show-info__item-tell">
          <p>電話番号:000-0000-0000</p>
        </div>

        <div class="show-info__item-official">
          <p>公式サイト</p>
        </div>
      </section>

      <%# list選択%>
      <div class="checkbox_continer">
        <%= form.collection_check_boxes :list_ids, @list, :id, :list_name, include_hidden: false, checked: @shop.list_ids do |check| %>
          <%= check.label class:"checkbox_continer__checkbox-btn" do %>
            <%= check.check_box %>
            <%= check.text %>
          <% end %>
        <% end %>
      </div>

      <div class="item-content__item-photo">
        <label>
          <p class="item-content__item-photo--link">写真を追加</p>
          <%= form.file_field :photos, multiple: true, class:"item-content__item-photo--select" %>
        </label>
      </div>

      <div class="item-content__item-photo">
      <% if @shop.photos.present? %>
        <div class="uploded-photo">
          <p>現在登録されている画像（削除するものはチェックしてください）</p>
          <% @shop.photos.each do |photos| %>
            <div class="uploded-photo__photo-select">
              <%= form.check_box :photos_ids, {multiple: true, class:"item-info__item-photo--checkbox"}, photos.id, false %>
              <%= image_tag photos, class:"uploded-photo__photo-select--checkbox" %>
            </div>
          <% end %>
        <div>
      <% end %>
      </div>

      <div class="item-content__item-submit">
        <%= form.submit "変更を保存", class:"item-content__item-submit--btn" %>
      </div>

    </div>
  <% end %>

  <div class="others-info">
    <div>
      <%= render 'shared/googlemaps' %>
    </div>

    <div class="others-info__related-info">
      <h3 class="others-info__related-info--title">関連情報</h3>
      <dl class="item-detail">
        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">価格帯</dt>
          <dd class="item-detail__item-table--content">¥3000~5000</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">駐車場</dt>
          <dd class="item-detail__item-table--content">なし　近隣にコインパーキングあり</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">アクセス</dt>
          <dd class="item-detail__item-table--content">最寄駅から徒歩7分</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">外部URL</dt>
          <dd class="item-detail__item-table--content">食べログURL</dd>
        </div>
      </dl>
    </div>
  </div>

</main>
