<% provide(:title, "Edit Shops") %>

<main class="item-input">

  <%= render 'shared/back' %>

  <%= form_with model: @list_shops ,url:update_list_shops_path(shop_id: @shop.id), local: true do |form| %>

    <div class="item-info">
      <div class="item-data__item-name">
        <%= @shop.shop_name %>
      </div>
      
      <div class="item-info__item-comment">
        <%= form.text_area :shop_comment, placeholder: "店コメント", class:"item-info__item-comment--form" %>
      </div>

      <%= form.collection_check_boxes :list_ids, List.where(user_id: current_user.id), :id, :list_name, include_hidden: false, checked: @shop.list_ids do |check| %>
        <%= check.label { check.check_box + check.text } %>
      <% end %>

      <div class="item-info__item-photo">
        <label>
          <i class="far fa-images item-info__item-photo--mark"></i>
          <%= form.file_field :photos, multiple: true, class:"item-info__item-photo--select" %>
        </label>
      </div>

      <div class="item-info__item-submit">
        <%= form.submit "店を追加", class:"item-info__item-submit--btn" %>
      </div>

    </div>
  <% end %>

  <div class="item-others">
    <div>
    <%= render 'shared/googlemaps' %>
    </div>
    <div class="item-others__item-info">
      <h3 class="item-others__item-info--title">関連情報</h3>
      <dl class="item-detail">
        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">価格帯</dt>
          <dd class="item-detail__item-table--content">¥3000~5000</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">駐車場</dt>
          <dd class="item-detail__item-table--content">なし　近隣にコインパーキングあり</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">アクセス</dt>
          <dd class="item-detail__item-table--content">最寄駅から徒歩7分</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">外部URL</dt>
          <dd class="item-detail__item-table--content">食べログURL</dd>
        </div>
      </dl>
    </div>
  </div>

</main>
