<% provide(:title, "Add Shops") %>

<main class="item-input">

  <%= form_with model: @list_shops ,url: shop_list_shops_path(shop_id: @shop.id), local: true do |form| %>

    <div class="item-info">
      <div class="item-data__item-name">
        <%= @shop.shop_name %>
      </div>

      <section class="item-data__item-info" >
        <div class="item-address">
          <span id='mapAddress'><%= @shop.shop_address %></span>
        </div>

        <div class="item-tell">
          <p>電話番号:000-0000-0000</p>
        </div>

        <div class="item-official">
          <p>公式サイト</p>
        </div>
      </section>

      <% if current_user.lists.empty? %>
        <%= link_to "リストを作成してください", new_list_path, class:"dropdown-list__dropdown-item--link" %>
      <% else %>
        <div class="checkbox_continer">
          <%= form.collection_check_boxes :list_ids, List.where(user_id: current_user.id), :id, :list_name, include_hidden: false, checked: @shop.list_ids do |check| %>
            <%= check.label class:"checkbox_continer__checkbox-btn" do %>
              <%= check.check_box %>
              <%= check.text %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="item-info__new-photo">
        <label>
        <p class="item-data__new-photo--link">写真を追加</p>
          <%= form.file_field :photos, multiple: true, class:"item-info__item-photo--select" %>
        </label>
      </div>

      <div class="item-info__item-submit">
        <%= form.submit "店を追加", class:"item-info__item-submit--btn" %>
      </div>

    </div>
  <% end %>

  <div class="item-others">
    <div>
      <%= render 'shared/googlemaps' %>
    </div>
    <div class="item-others__item-info">
      <h3 class="item-others__item-info--title">関連情報</h3>
      <dl class="item-detail">
        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">価格帯</dt>
          <dd class="item-detail__item-table--content">¥3000~5000</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">駐車場</dt>
          <dd class="item-detail__item-table--content">なし　近隣にコインパーキングあり</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">アクセス</dt>
          <dd class="item-detail__item-table--content">最寄駅から徒歩7分</dd>
        </div>

        <div class="item-detail__item-table">
          <dt class="item-detail__item-table--title">外部URL</dt>
          <dd class="item-detail__item-table--content">食べログURL</dd>
        </div>
      </dl>
    </div>
  </div>

</main>
