<main class="useredit-container">
  <h1 class="useredit-container__useredit-title">プロフィールの編集</h1>
  <div class="useredit-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="useredit-form__useredit-item">
        <%= link_to image_tag("no-image.png", class:"useredit-form__useredit-item--image"), "#" %>
      </div>
      
      <div class="useredit-form__useredit-item">
        <%= f.label :ユーザーネーム %>
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" ,class:"useredit-form__useredit-item--form"%>
      </div>
      
      <div class="useredit-form__useredit-item">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"useredit-form__useredit-item--form" %>
      </div>
      
      <div class="useredit-form__useredit-item">
      <%= f.submit "更新する",class:"useredit-form__useredit-item--submit" %>
      </div>
    <% end %>
  </div>
  
  <h3>退会</h3>
  
  <p>アカウントを削除しますか？ <%= button_to "削除する", registration_path(resource_name), data: { confirm: "削除しますか？" }, method: :delete %></p>
  
  <%= link_to "戻る", :back %>
  
</main>