<%= javascript_pack_tag 'user_image/application' %>

<% provide(:title, "Edit Profile") %>

<main class="useredit-container">

  <div class="item-data">
    <%= link_to "javascript:history.back()", method: :get do %>
      <i class="fas fa-arrow-left item-data__back-page"></i>
    <% end %>
  </div>

  <h1 class="useredit-container__useredit-title">プロフィールの編集</h1>
  <div class="useredit-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="useredit-form__useredit-item" id="image_preview">
        <% if @user.image.attached? %>
          <label>
            <%= image_tag @user.image, class:"useredit-form__useredit-item--image" %>
            <i class="far fa-edit useredit-form__useredit-item--mark"></i>
            <%= f.file_field :image , class:"useredit-form__useredit-item--select" %>
          </label>
        <% else %>
          <label>
            <%= image_tag 'no-image.png', class:"useredit-form__useredit-item--image" %>
            <i class="far fa-edit useredit-form__useredit-item--mark"></i>
            <%= f.file_field :image , class:"useredit-form__useredit-item--select" %>
          </label>
        <% end %>
      </div>

      <dl class="useredit-form__useredit-item">
        <div class="useredit-contents">
          <dt class="useredit-contents__useredit-title">
            <%= f.label :ユーザーネーム, class:"useredit-contents__useredit-title--name" %>
          </dt>
          <dd class="useredit-contents__useredit-input">
            <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class:"useredit-contents__useredit-input--form"%>
          </dd>
        </div>
        <div class="useredit-contents">
          <dt class="useredit-contents__useredit-title">
            <%= f.label :メールアドレス, class:"useredit-contents__useredit-title--name" %>
          </dt>
          <dd class="useredit-contents__useredit-input">
            <%= f.email_field :email, autocomplete: "email",class:"useredit-contents__useredit-input--form" %>
          </dd>
        </div>
        <div class="useredit-contents">
          <dt class="useredit-contents__useredit-title">
            <%= f.label :ひとこと, class:"useredit-contents__useredit-title--name" %>
          </dt>
          <dd class="useredit-contents__useredit-input">
            <%= f.text_area :user_comment, autocomplete: "user_comment", class:"useredit-contents__useredit-input--profile" %>
          </dd>
        </div>
      </dl>
      
      <div class="useredit-form__useredit-item">
      <%= f.submit "更新する",class:"useredit-form__useredit-item--submit" %>
      </div>
    <% end %>
  </div>

  <div class="useredit-delete">
    <h2 class="useredit-delete__useredit-subtitle">アカウント削除</h2>
    
    <p class="useredit-delete__useredit-confirm">アカウントを削除しますか？ <%= link_to "削除する", registration_path(resource_name), data: { confirm: "削除しますか？" }, method: :delete,  class:"useredit-delete__useredit-confirm--deletebtn" %></p>
    
    <div class="useredit-delete__useredit-btn">
    <%= link_to "戻る", :back , class:"useredit-delete__useredit-btn--back" %>
    </div>
  </div>
  
</main>