<% provide(:title, "Sign up") %>

<section class="signup-container">
  <h1 class="signup-container__signup-title">リストアプリへようこそ！</h1>
  <p class="signup-container__signup-subtitle">お気に入りリスト作成ツール | リストアプリ</p>

  <div class="signup-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="signup-form__signup-item">
        <%= f.text_field :user_name, placeholder: "ユーザーネーム", autofocus: true, class:"signup-form__signup-item--form" %>
      </div>
      
      <div class="signup-form__signup-item">
        <%= f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", class:"signup-form__signup-item--form" %>
      </div>
      
      <div class="signup-form__signup-item">
        <%= f.password_field :password, placeholder: "パスワード(6字以上)", autocomplete: "new-password", class:"signup-form__signup-item--form" %>
      </div>
      
      <div class="signup-form__signup-item">
        <%= f.password_field :password_confirmation, placeholder: "パスワード(再入力)", autocomplete: "new-password", class:"signup-form__signup-item--form" %>
      </div>
      
      <div class="signup-form__signup-item">
        <%= f.submit "新規登録", class:"signup-form__signup-item--submit" %>
      </div>
    <% end %>
  </div>
    
  <p class="signup-container__signup-rules">続行すると、リストアップの<%= link_to "利用規約", "#" %>と<%= link_to "プライバシーポリシー", "#" %>に同意したものとみなされます。</p>
  <p class="signup-container__move-signin">すでにアカウントをお持ちの場合：<%= link_to "ログイン",  new_user_session_path %><p>
</section>