<% provide(:title, "Edit Shops") %>

<main class="item-input">

<%= render 'shared/back' %>

<%= form_with model: @shop, method: :patch, local: true do |f| %>
  <div class="item-info">
    <div class="item-info__item-name">
      <%= @shop.shop_name %>
    </div>

    <div class="item-info__item-comment">
      <%= f.text_field :shop_comment, class:"item-info__item-comment--form"%>
    </div>

    <div class="item-info__item-photo">
    <% if @shop.photo? %>
      <label>
        <%= image_tag @shop.photo.thumb.url , class:"item-info__item-photo--photo" %>
        <i class="far fa-edit item-info__item-photo--mark"></i>
        <%= f.file_field :photo ,class:"item-info__item-photo--select" %>
      </label>
    <% else %>
      <label>
        <div><%= image_tag 'no-image.png',class:"item-info__item-photo--photo" %></div>
        <i class="far fa-edit item-info__item-photo--mark"></i>
        <%= f.file_field :photo ,class:"item-info__item-photo--select" %>
      </label>
    <% end %>
  </div>

    <div class="item-info__item-submit">
      <%= f.submit "更新する",  class:"item-info__item-submit--btn" %>
    </div>
  
  </div>
  
<% end %>

<div class="googlemaps">
  <%= render 'shared/googlemaps' %>
</div>
</main>