<% provide(:title, "Edit Shops") %>

<main class="item-input">

<div class="item-data">
  <%= link_to "javascript:history.back()", method: :get do %>
    <i class="fas fa-arrow-left item-data__back-page"></i>
  <% end %>
</div>

<%= form_with model: @shop, method: :patch, local: true do |f| %>
  <div class="item-info">
    <div class="item-info__item-name">
      <%= f.text_field :shop_name, autofocus: true, autocomplete: "list_name", class:"item-info__item-name--form" %>
    </div>

    <div class="item-info__item-comment">
      <%= f.text_field :shop_comment, class:"item-info__item-comment--form"%>
    </div>

    <div class="item-info__item-photo">
    <% if @shop.photo? %>
      <label>
        <div><%= image_tag @shop.photo.thumb.url , class:"item-info__item-photo--photo" %></div>
        <%= f.file_field :photo ,class:"item-info__item-photo--select" %>
      </label>
    <% else %>
      <label>
        <div><%= image_tag 'no-image.png',class:"item-info__item-photo--photo" %></div>
        <%= f.file_field :photo ,class:"item-info__item-photo--select" %>
      </label>
      <%= f.hidden_field :photo_cache %>
    <% end %>
    </div>

    <div class="item-info__item-submit">
      <%= f.submit "更新する",  class:"item-info__item-submit--btn" %>
    </div>
  
  </div>
  
<% end %>

<div class="googlemaps">
<div id='map', style="width: 70vw; height: 400px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPS_API_KEY"]%>&callback=initMap" async defer></script>
<%= javascript_pack_tag 'googlemaps/application' %>
</div>
</main>