<% provide(:title, "Edit Shops") %>

<main class="item-input">

<%= render 'shared/back' %>

<%= form_with model: @shop, method: :patch, local: true do |f| %>
  <div class="item-info">
    <div class="item-info__item-name">
      <%= @shop.shop_name %>
    </div>

    <div class="item-info__item-comment">
      <%= f.text_field :shop_comment, class:"item-info__item-comment--form"%>
    </div>

    <div class="item-info__item-photo">
    <label>
      <%= f.file_field :photos, multiple: true %>
    </label>

    <% if @shop.photos.present? %>
    <p>現在登録されている画像（削除するものはチェックしてください）</p>
    <% @shop.photos.each do |p| %>
      <%= f.check_box :photo_ids, {multiple: true}, p.id, false %>
      <%= image_tag p, size:"100x100" %> <br>
    <% end %>
  <% end %>

  </div>

    <div class="item-info__item-submit">
      <%= f.submit "更新する",  class:"item-info__item-submit--btn" %>
    </div>
  
  </div>
  
<% end %>

<div class="googlemaps">
  <%= render 'shared/googlemaps' %>
</div>
</main>