<% provide(:title, "Shops") %>

<main class="shopall-container">

  <h2 class="shopall-title">登録済み店一覧</h2>

  <div class="googlemaps">
  <div id='map', style="width: 70vw; height: 400px;"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPS_API_KEY"]%>&callback=initMap" async defer></script>
  <%= javascript_pack_tag 'googlemaps/application' %>
  </div>

  <sction class="item-display">
    <div class="item-array">
      <% @shops.each do |s| %>
        <div class="item-array__item-detail">

          <% if s.photo? %>
            <%= link_to image_tag(s.photo.url,  class:"item-array__item-detail--img"), shop_path(s.id) %>
          <% else %>
            <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), shop_path(s.id) %>
          <% end %>

          <%= link_to s.shop_name, shop_path(s.id) , class:"item-array__item-detail--name" %>
        </div>
      <% end %>
    </div>
  </section>
</main>
