<% provide(:title, "Shops") %>

<main class="shopall-container">

  <%= render 'shared/back' %>

  <h2 class="shopall-title">登録済み店一覧</h2>

  <div class="googlemaps">
    <%= render 'shared/googlemaps' %>
  </div>

  <sction class="item-display">
    <div class="item-array">
      <% @user.each do |s| %>
        <div class="item-array__item-detail">

          <% if s.list.present? %>
            <%= link_to image_tag(s.photos[0],class:"item-array__item-detail--img"), "/"%>
          <% else %>
            <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), "/" %>
          <% end %>

          <%= link_to s.shop_name, "/" , class:"item-array__item-detail--name" %>
        </div>
      <% end %>
    </div>
  </section>
</main>
