<main class="item-input">
  <%= form_with model: @shop, url: new_shop_path(@list.id), local: true do |f| %>
    <div class="item-info">
      <div class="item-info__item-name">
        <%= f.text_field :shop_name, autofocus: true, placeholder: "店名", class:"item-info__item-name--form" %>
      </div>
      <div class="item-info__item-comment">
        <%= f.text_field :shop_comment, placeholder: "店コメント", class:"item-info__item-comment--form" %>
      </div>
        <%= f.hidden_field :list_id, value: @list.id%>
      <div class="item-info__item-submit">
        <%= f.submit "店を追加",  class:"item-info__item-submit--btn" %>
      </div>
    </div>
  <% end %>

  <p class="googlemaps">googlemaps</p>

  <p>店の情報とか</p>
</main>
