<% provide(:title, "Add Shops") %>

<main class="item-input">

  <%= render 'shared/back' %>

  <div class="item-input__item-search">
    <div class="item-info__item-name">
      <input id="pac-input" class="controls" type="text" placeholder="検索..." class="item-info__item-name--form"/>
    </div>
  </div>

  <%= form_with model: @shop, local: true do |f| %>
    <%= render 'shared/error_shop' %>

    <div class="item-info">
      <div class="item-data__item-name">
        <%= @shop.shop_name %>
      </div>

      <div class="item-info__item-comment">
        <%= f.text_field :shop_comment, placeholder: "店コメント", class:"item-info__item-comment--form" %>
      </div>

      <%= f.select :list_id ,List.where(user_id: current_user.id).map { |l| [ l.list_name ] }, {}, {class: 'googlemaps'} %>

      <div class="item-info__item-photo">
          <label>
            <i class="far fa-images item-info__item-photo--mark"></i>
            <%= f.file_field :photos, multiple: true,class:"item-info__item-photo--select" %>
          </label>
      </div>

      <div class="item-info__item-submit">
        <%= f.submit "店を追加",  class:"item-info__item-submit--btn" %>
      </div>
    </div>
  <% end %>

  <div class="googlemaps">
    <%= render 'shared/googlemaps' %>
  </div>

  <p>店の情報とか</p>

</main>
