
<h1>店追加</h1>

<%= form_with( model: @shop, local: true) do |f| %>

  <div>
    <%= f.label :店名 %><br />
    <%= f.text_field :shop_name, autofocus: true %>
  </div>

  <div>
    <%= f.label :店コメント %><br />
    <%= f.text_field :shop_comment %>
  </div>

  <% f.hidden_field :favorite_list_id , value: session[:favorite_list_id] %>

  <div>
    <%= f.submit "店を追加" %>
  </div>

<% end %>