<% provide(:title, "Shop") %>

<main class="item-show">

  <div class="item-show__item-data">
    <%= render partial: 'shared/flash' %>

    <div class="show-info">
      <div class="show-info__item-name">
        <span id="shop_name_js"><%= @shop.shop_name %><span>
      </div>

      <div class="show-info__shop-edit">
        <% if AddShop.where(shop_id: @shop.id).exists? %>
          <%= link_to shop_add_shop_path(@shop), method: :delete do %>
            <i class="fas fa-heart show-info__shop-edit--unlike"></i>
          <% end %>
        <% else %>
          <%= link_to shop_add_shops_path(shop_id: @shop.id), method: :POST do %>
            <i class="far fa-heart show-info__shop-edit--like"></i>
          <% end %>
        <% end %>
      </div>

      <%# shopをlistに追加%>
      <% if !@shop.list_shops.present? %>
      <div class="show-info__shop-edit">
        <%= link_to shop_new_list_shops_path(shop_id: @shop.id) , method: :POST, data: {"turbolinks"=>false} do %>
          <i class="far fa-clipboard show-info__shop-edit--link"></i>
        <% end %>
      </div>
      <% end %>

      <%# listに追加済みのshopを編集%>
      <% if !@shop.list_shops.empty? %>
      <div class="show-info__shop-edit">
        <%= link_to edit_shop_list_shop_path(shop_id: @shop.id), data: {"turbolinks"=>false} do %>
          <i class="far fa-clipboard show-info__shop-edit--link"></i>
        <% end %>
      </div>
      <% end %>
    </div>

    <section class="show-info" >
      <div class="show-info__item-address">
        <span id="mapAddress" ><%= @shop.shop_address %></span>
      </div>

      <div class="show-info__item-tell">
        <p>電話番号:000-0000-0000</p>
      </div>

      <div class="show-info__item-official">
        <p>公式サイト</p>
      </div>
    </section>

    <div class="show-info">
      <% if @shop.photos.attached? %>
        <% @shop.photos.each do |photos| %>
          <%= image_tag(photos,class:"show-info__item-photo") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="others-info">
    <div>
      <%= render 'shared/googlemaps' %>
    </div>
    <div>
      <%= render 'shared/shop_detail' %>
    </div>
  </div>

</main>