<% provide(:title, "Shop") %>

<main class="item-show">
  <div class="item-data">

  <%= render 'shared/back' %>
  <%= render partial: 'shared/flash' %>

    <div class="item-data__item-name">
      <%= @shop.shop_name %>
    </div>

    <div class="item-data__item-comment">
      <%= @shop.shop_comment %>
    </div>

    <div class="item-data__item-user">
      <% @shop.lists.each do |list|%>
        <%= link_to "Belong to #{list.list_name}", list_path(list), class:"item-data__item-user--link" %>
      <% end %>
    </div>

    <div class="item-data__item-photo">
      <% @shop.photos.each do |p| %>
        <%= image_tag(p,class:"item-data__item-photo--photo")%>
      <% end %>
    </div>

    <% if user_signed_in? && current_user.id == @shop.user_id %>
      <div class="item-data__item-edit">
        <%= link_to '編集', edit_shop_path(@shop), class:"item-data__item-edit--form" %>
        <%= link_to '削除', destroy_shops_path(@shop), class:"item-data__item-edit--form", method: :delete, data: { confirm: '削除しますか？' } %>
      </div>
    <% end %>
  </div>

  <div class="googlemaps">
    <%= render 'shared/googlemaps' %>
  </div>
  
</main>