<main class="follow-container">

  <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
    <section class="follow-item">
      <div class="follow-item__follow-image">
        <% if user.persisted? && user.image? %>
          <%= image_tag user.image.url, class:"mypage-content__mypage-icon--image" %>
        <% else %>
          <%= image_tag 'no-image.png',class:"mypage-content__mypage-icon--image" %>
        <% end %>
      </div>
      <div class="follow-item__follow-user">
        <%= link_to user.user_name, user_path(user.id), class:"follow-item__follow-user--link" %>
      </div>
      <div class="follow-item__follow-btn">
        <% if current_user.following?(user) %>
          <%= link_to 'フォローをやめる', unfollow_path(user.id), method: :POST, class:"follow-item__follow-btn--unfollow" %>
        <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST, class:"follow-item__follow-btn--following" %>
        <% end %>
      </div>
    </section>
  <% end %>

</mian>