<main class="follow-container">
  <% if @user_or_list == "1"%>
    <% @users.each do |u| %>
      <section class="follow-item">
        <div class="follow-item__follow-image">
          <%= image_tag 'ramen.jpeg', class:"follow-item__follow-image--icon" %>
        </div>
        <div class="follow-item__follow-user">
          <%= link_to u.user_name , user_path(u.id) %>
        </div>
          <% unless u == current_user %>
            <div class="follow-item__follow-btn">
              <% if current_user.following?(u) %>
                <%= link_to 'フォローをやめる', unfollow_path(u.id), method: :POST,  class:"follow-item__follow-btn--unfollow" %>
              <% else %>
                <%= link_to 'フォローする', follow_path(u.id), method: :POST,class:"follow-item__follow-btn--following" %>
              <% end %>
            </div>
          <% end %>
      </section>
    <% end %>


  <% else %>
    <section class="search-container__search-section">
      <% @lists.each do |l| %>
        <%= link_to l.list_name , list_path(l.id) %>
      <% end %>
    <section>
  <% end %>

</mian>