<% provide(:title, "Search") %>

<main class="follow-container">
  <% if @user_or_list == "1"%>
    <% @users.each do |u| %>
      <section class="follow-item">
        <div class="follow-item__follow-image">
          <% if u.persisted? && u.image? %>
            <%= image_tag u.image.url, class:"follow-item__follow-image--icon" %>
          <% else %>
            <%= image_tag 'no-image.png',class:"follow-item__follow-image--icon" %>
          <% end %>
        </div>
        <div class="follow-item__follow-user">
          <%= link_to u.user_name , user_path(u.id), class:"follow-item__follow-user--link" %>
        </div>
          <% unless u == current_user %>
            <div class="follow-item__follow-btn">
              <% if current_user.following?(u) %>
                <%= link_to 'フォローをやめる', unfollow_path(u.id), method: :POST,  class:"follow-item__follow-btn--unfollow" %>
              <% else %>
                <%= link_to 'フォローする', follow_path(u.id), method: :POST,class:"follow-item__follow-btn--following" %>
              <% end %>
            </div>
          <% end %>
      </section>
    <% end %>

  <% else %>
      <% @lists.each do |l| %>
        <section class="search-item">
          <%= image_tag 'kaisen.jpeg', class:"search-item__item-image" %>
          <%= link_to l.list_name, list_path(l.id),  class:"search-item__item-name" %>
          <%= link_to l.list_comment, list_path(l.id), class:"search-item__item-comment"%>
          <%= link_to "Listed by#{l.user_id}", user_path(l.user_id),class:"search-item__item-user" %>
        </section>
      <% end %>
  <% end %>

</mian>