<% provide(:title, "Search") %>

<main class="follow-container">
  <% if @user_or_list_or_shop == "1"%>
    <% @users.each do |user| %>
      <section class="follow-item">
        <div class="follow-item__follow-image">
          <% if user.persisted? && user.image? %>
            <%= image_tag user.image.url, class:"follow-item__follow-image--icon" %>
          <% else %>
            <%= image_tag 'no-image.png',class:"follow-item__follow-image--icon" %>
          <% end %>
        </div>
        <div class="follow-item__follow-user">
          <%= link_to user.user_name , user_path(user.id), class:"follow-item__follow-user--link" %>
        </div>
        <div class="follow-item__follow-comment">
          <span class="follow-item__follow-comment--profile"><%= user.user_comment %></span>
        </div>

          <% if user == current_user %>
            <div class="follow-item__follow-btn">
              <%= link_to 'マイページへ', user_path(user.id), method: :GET, class:"follow-item__follow-btn--following" %>
            </div>
          <% elsif %>
            <% if current_user.following?(user) %>
              <div class="follow-item__unfollow-btn">
                <%= link_to 'フォロー中', unfollow_path(user.id), method: :POST,  class:"follow-item__unfollow-btn--unfollow" %>
              <div>
              <% else %>
              <div class="follow-item__follow-btn">
                <%= link_to 'フォローする', follow_path(user.id), method: :POST,class:"follow-item__follow-btn--following" %>
              </div>
            <% end %>
          <% end %>
      </section>
    <% end %>

  <div class="serach-pagination"><%= paginate @users %></div>

  <% elsif @user_or_list_or_shop == "2" %>
  <div class="item-array">
      <% @lists.each do |list| %>
        <section class="item-array__item-detail">
        <% if list.photos.present?%>
          <%= link_to image_tag(list.shops[0].photos[0],class:"item-array__item-detail--img"), list_path(list.id), data: {"turbolinks"=>false} %>
        <% else %>
          <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), list_path(list.id), data: {"turbolinks"=>false} %>
        <% end %>
          <%= link_to list.list_name, list_path(list.id),  class:"item-array__item-detail--name" %>
          <%= link_to "Listed by : #{list.user.user_name}", user_path(list.user_id), class:"item-array__item-detail--user", data: {"turbolinks"=>false} %>
        </section>
      <% end %>
      </div>

      <div class="serach-pagination"><%= paginate @lists %></div>

    <% else %>
    <div class="item-array">
        <% @shops.each do |shop| %>
          <section class="item-array__item-detail">
          <% if shop.photos.present?%>
            <%= link_to image_tag(shop.photos[0], class:"item-array__item-detail--img"), shop_path(shop.id), data: {"turbolinks"=>false} %>
          <% else %>
            <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), shop_path(shop.id), data: {"turbolinks"=>false} %>
          <% end %>
        <%= link_to shop.shop_name, shop_path(shop.id) , class:"item-array__item-detail--name", data: {"turbolinks"=>false} %>
        </section>
      <% end %>
      </div>

      <div class="serach-pagination"><%= paginate @shops %></div>

  <% end %>

</mian>