<h1>マイページ</h1>
<p>ユーザーネーム <%= @user.user_name %></p>
<p>メールアドレス <%= @user.email %></p>

<%= link_to 'リストを追加', new_list_path %>

<%= link_to 'プロフィールを編集', edit_user_registration_path %>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<%= link_to 'アカウントを削除', destroy_user_account_path, method: :delete, data: { confirm: '削除しますか？' } %>

<h2>リストたち</h2>

<p>全てのお店</p>
  <div>
  <p>最新の写真(最後に登録した写真)</p>
  <p>登録したお店一覧</p>
  </div>

<p>リスト一覧</p>
<div>
  <% @list.each do |l|%>
    <%= link_to l.list_name, list_path %>
    <%= l.list_comment%>
    <p>編集</p>
    <%= link_to "編集", edit_list_path  %>
    <p>削除</p>
  <% end %>
</div>

