<h1>マイページ</h1>
<p>ユーザーネーム <%= @user.user_name %></p>
<p>メールアドレス <%= @user.email %></p>

リストを追加
リストを編集

<%= link_to 'プロフィールを編集', edit_user_registration_path %>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<%= link_to 'アカウントを削除', destroy_user_account_path, method: :delete, data: { confirm: '削除しますか？' } %>

