<main class="mypage-container">
  <section class="mypage-content">
      <div class="mypage-content__mypage-icon">
        <%= image_tag 'no-image.png', class:"mypage-content__mypage-icon--image" %>
      </div>
      <p class="mypage-content__mypage-name"><%= @user.user_name %></p>
      <div class="mypage-content__maypage-follow" >
        <%= link_to "フォロー数: #{@user.follower.count}",   following_path(id: @user.id), class:"mypage-content__maypage-follow--link" %>
        <%= link_to "フォロワー数: #{@user.followed.count}", followers_path(id: @user.id), class:"mypage-content__maypage-follow--link" %>
      </div>
  </section>
  
  <section class="item-display">
    <div class="item-array" >
      <div class="item-array__item-detail">
        <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), shops_path %>
        <%= link_to "全てのお店", shops_path, class:"item-array__item-detail--name" %>
      </div>
      <% @lists.each do |l| %>
        <div class="item-array__item-detail">
          <%= link_to image_tag("kaisen.jpeg",class:"item-array__item-detail--img"), list_path(l.id) %>
          <%= link_to l.list_name, list_path(l.id), class:"item-array__item-detail--name" %>
        </div>
      <% end %>
    </div>
  </section>
<main>

<%= link_to 'アカウントを削除', destroy_user_account_path, method: :delete, data: { confirm: '削除しますか？' } %>