<% provide(:title, "#{@user.user_name}") %>

<main class="mypage-container">
  <section class="mypage-content">
      <div class="mypage-content__mypage-icon">
        <% if @user.persisted? && @user.image? %>
          <%= image_tag @user.image.thumb.url, class:"mypage-content__mypage-icon--image" %>
        <% else %>
          <%= image_tag 'no-image.png',class:"mypage-content__mypage-icon--image" %>
        <% end %>
      </div>
      <p class="mypage-content__mypage-name"><%= @user.user_name %></p>
      <div class="mypage-content__maypage-follow" >
        <%= link_to "フォロー数: #{@user.follower.count}",   following_path(id: @user.id), class:"mypage-content__maypage-follow--link" %>
        <%= link_to "フォロワー数: #{@user.followed.count}", followers_path(id: @user.id), class:"mypage-content__maypage-follow--link" %>
      </div>
  </section>
  
  <section class="item-display">
    <div class="item-array" >
      <div class="item-array__item-detail">
        <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), shops_path(id: @user.id) %>
        <%= link_to "全てのお店", shops_path(id: @user.id), class:"item-array__item-detail--name" %>
        <%= link_to "店舗 : #{@shops.size}件", shops_path(id: @user.id), class:"item-array__item-detail--size" %>
      </div>
      <% @lists.each do |l| %>
        <div class="item-array__item-detail">
          <%= link_to image_tag("kaisen.jpeg",class:"item-array__item-detail--img"), list_path(l.id) %>
          <%= link_to l.list_name, list_path(l.id), class:"item-array__item-detail--name" %>
          <%= link_to "店舗 : #{l.shops.size}件", list_path(l.id), class:"item-array__item-detail--size" %>
        </div>
      <% end %>
    </div>
  </section>
<main>