<main class="mypage-container">
  <section class="mypage-container__mypage-profile">
    <div class="mypage-left">
      <%= image_tag 'no-image.png', class:"mypage-left__mypage-icon" %>
    </div>
    <div class="mypage-center">
      <div class="mypage-content">
        <p class="mypage-content__mypage-username"><%= @user.user_name %></p>
        <div class="mypage-content__maypage-follow">
          <p class="follow-btn">
            <%= link_to "フォロー数: #{@user.follower.count}", following_path(id: @user.id), class:"follow-btn__follow-link" %>
          </p>
          <p class="follow-btn">
            <%= link_to "フォロワー数: #{@user.follower.count}", followers_path(id: @user.id), class:"follow-btn__follow-link" %>
          </p>
        </div>
      </div>
    </div>
    <div class="mypage-right">
      <%= link_to 'リストを追加', new_list_path, class:"mypage-right__mypage-edit" %>
      <%= link_to 'プロフィールを編集', edit_user_registration_path, class:"mypage-right__mypage-edit" %>
    </div>
  </section>
  
  <section class="list-container">
    <div class="list-wrap" >
      <div class="list-wrap__list-all">
        <%= link_to image_tag("no-image.png", class:"list-wrap__list-all--img"), shops_path %>
        <%= link_to "全てのお店", shops_path, class:"list-wrap__list-all--title" %>
      </div>
      <% @lists.each do |l| %>
        <div class="list-wrap__list-item">
          <%= link_to image_tag("kaisen.jpeg",class:"list-wrap__list-item--img"), list_path(l.id) %>
          <%= link_to l.list_name, list_path(l.id), class:"list-wrap__list-item--name" %>
        </div>
      <% end %>
    </div>
  </section>
<main>

<%= link_to 'アカウントを削除', destroy_user_account_path, method: :delete, data: { confirm: '削除しますか？' } %>

<h2>ユーザー詳細ページ</h2>
<%= link_to "フォロー数: #{@user.follower.count}", "#" %>
<%= link_to "フォロワー数: #{@user.follower.count}", "#" %>
<% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
  <% end %>
<% end %>
<p></p>

<h3>フォロー一覧</h3>
  <% @user.following_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "ユーザーネーム: #{user.user_name}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>
<h3>フォロワー一覧</h3>
  <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "ユーザーネーム: #{user.user_name}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>