<% provide(:title, "#{@user.user_name}") %>

<main class="mypage-container">
  <section class="mypage-content">

    <%= render partial: 'shared/flash' %>

    <%# アイコン%>
    <div class="mypage-content__mypage-icon">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class:"mypage-content__mypage-icon--image" %>
      <% else %>
        <%= image_tag 'no-image.png',class:"mypage-content__mypage-icon--image" %>
      <% end %>
    </div>

    <%# ユーザーネーム、フォローボタン%>
    <div class="test">
      <p class="mypage-content__mypage-name"><%= @user.user_name %></p>
      <div class="mypage-content__mypage-info">
        <% unless @user == current_user %>
          <div class="follow-item__follow-btn">
            <% if current_user.following?(@user) %>
              <%= link_to 'フォローをやめる', unfollow_path(@user.id), method: :POST, class:"follow-item__follow-btn--unfollow" %>
            <% else %>
              <%= link_to 'フォローする', follow_path(@user.id), method: :POST,class:"follow-item__follow-btn--following" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%#ユーザーコメント%>
    <p class="mypage-content__mypage-comment"><%= @user.user_comment %></p>

    <%# フォロー、フォロワー、いいね%>
    <div class="mypage-content__maypage-follow" >
      <% if @user.follower.size === 0 %>
        <span class="mypage-content__maypage-follow--link"><%= "#{@user.follower.size} Following" %></span>
      <% else %>
        <%= link_to "#{@user.follower.size} Following", following_path(id: @user.id), class:"mypage-content__maypage-follow--link" %>
      <% end %>

      <% if @user.followed.size === 0 %>
        <span class="mypage-content__maypage-follow--link"><%= "#{@user.followed.size} Followers" %></span>
      <% else %>
        <%= link_to "#{@user.followed.size} Followers", followers_path(id: @user.id), class:"mypage-content__maypage-follow--link" %>
      <% end %>

      <% if @add_shops.size === 0 %>
        <span class="mypage-content__maypage-follow--link"><%= "#{@add_shops.size} Likes" %></span>
      <% else %>
        <%= link_to "#{@add_shops.count} Likes", add_shops_index_path, class:"mypage-content__maypage-follow--link" %>
      <% end %>
    </div>
  </section>

  <%# アイコン%>
  <section class="item-display">
    <div class="item-array" >
      <% @lists.each do |l| %>
        <div class="item-array__item-detail">
          <% if l.shops.present? %>
            <% if l.shops[0].photos[0].present? %>
              <%= link_to image_tag(l.shops[0].photos[0],class:"item-array__item-detail--img"), list_path(l.id),data: {"turbolinks"=>false} %>
              <% else %>
              <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), list_path(l.id),data: {"turbolinks"=>false} %>
            <% end %>
          <% else %>
            <%= link_to image_tag("no-image.png", class:"item-array__item-detail--img"), list_path(l.id),data: {"turbolinks"=>false} %>
          <% end %>

          <%= link_to l.list_name, list_path(l.id), class:"item-array__item-detail--name",data: {"turbolinks"=>false} %>
          <%= link_to "店舗 : #{l.shops.size}件", list_path(l.id), class:"item-array__item-detail--size",data: {"turbolinks"=>false} %>
        </div>
      <% end %>
    </div>
  </section>

  <li style="list-style: none;"><%# link_to 'ログアウト', users_guest_sign_out_path %></li>
<main>