<header class="logedin-header">

  <section class="logedin-header__header-link">
    <% if current_user.persisted? %>
      <%= link_to "Listing App", user_path(current_user.id),class:"logedin-header__header-link--title" %>
    <% end %>
  </section>

  <section>
    <%= form_with url:search_path, local: true, method: :get do |f| %>
      <div class="logedin-header__header-search">
        <%= f.select(:option, options_for_select([["ユーザー", "1"],["リスト","2"],["ショップ","3"]]),{}, class:"logedin-header__header-search--select") %>
        <%= f.text_field :search, class:"logedin-header__header-search--form", autocomplete: 'off', placeholder: "ユーザー・リスト・ショップ検索" %>
      </div>
    <% end %>
  </section>

  
  <section class="logedin-header__header-link">

    <div class="logedin-header__header-link">
      <% if current_user.image.attached? %>
        <%= link_to image_tag(current_user.image, class:"logedin-header__header-link--mypage"), user_path(current_user.id) %>
      <% else %>
        <%= link_to image_tag('no-image.png', class:"logedin-header__header-link--mypage"), user_path(current_user.id) %>
      <% end %>
    </div>

    <%= render 'shared/dropdown' %>

  </section>
 
</header>
