<header class="logedin-header">
  <section class="logedin-header__header-icon">
    <% if current_user.persisted? && current_user.image? %>
      <%= link_to image_tag(current_user.image.thumb.url, class:"logedin-header__header-icon--link"), user_path(current_user.id) %>
    <% else %>
      <%= image_tag 'no-image.png', class:"logedin-header__header-icon--link" %>
    <% end %>
  </section>
  <section>
    <%= form_with url:search_path, local: true, method: :get do |f| %>
      <div class="logedin-header__header-search">
        <%= f.select(:option, options_for_select([["ユーザー", "1"],["リスト","2"]]),{}, class:"logedin-header__header-search--select") %>
        <%= f.text_field :search, class:"logedin-header__header-search--form", autocomplete: 'off', placeholder: "ユーザー・リスト検索" %>
      </div>
    <% end %>
  </section>

  
  <section class="logedin-header__header-link">
      <%= link_to 'リストを追加',       new_list_path,               class:"logedin-header__header-link--btn" %>
      <%= link_to 'プロフィールを編集', edit_user_registration_path, class:"logedin-header__header-link--btn" %>
      <%= link_to 'ログアウト',         destroy_user_session_path,   class:"logedin-header__header-link--btn" ,method: :delete %>
      <%= link_to 'アカウントを削除',   destroy_user_account_path(current_user.id),   class:"logedin-header__header-link--btn" ,                                 method: :delete, data: { confirm: '削除しますか？' } %>
  </section>
</header>
